body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.message-form {
  margin-top: 20px;
  display: flex;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 600px;
}

.send-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .chat-container {
    padding: 10px;
  }

  .message-input {
    font-size: 14px;
  }
}
.user-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}
